/* CSS for body, header and nav */
body {
  background: #E0E7E4;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
}

.header img {
  height: 150px;
}

.header h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 72px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.nav {
  border: solid #D24951;
  background: #D24951;
}

ul {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

li {
  padding: 0px 35px 0px 35px;
}

.nav-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* CSS for Home */
/* @keyframes home-text {
  from {color: white;}
  to {color: #3380cc;}
} */

.Home h1 {
  margin: 100px 0px 25px 0px;
  font-family: 'Fugaz One', cursive;
  font-size: 85px;
  text-align: center;
  color: #3380cc;
  /* animation-name: home-text;
  animation-duration: 4s; */
}

/* CSS for forms */
form {
  margin: 25px 35% 25px 35%;
  border: solid #3380cc 2px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  font-weight: bold;
}

input {
  margin: 15px;
}

.submit {
  padding: 15px 25px 15px 25px;
  background: #D24951;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
}

.auth-form-link {
  color: #3380cc;
}

/* CSS for RecAll */
.RecsAll {
  margin: 25px 5% 25px 5%;
  border: solid #557fa8 2px;
  background: white;
}

h3 {
  margin: 20px;
  /* border: solid blue 2px; */
  font-family: 'Fugaz One', cursive;
  font-size: 48px;
}

.recList {
  margin: 0px 10px 25px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recLink {
  margin: 10px;
  border: solid #D24951 2px;
  padding: 10px;
  width: 30%;
}

.recName {
  margin: 0;
  padding: 0px 5px 0px 5px;
  font-weight: bold;
  font-size: 20px;
  color: #557fa8;
}

.recLocation {
  margin: 0;
  padding: 0px 5px 0px 5px;
}

/* CSS for RecShow */
.RecShow {
  margin: 25px 5% 25px 5%;
  border: solid #557fa8 2px;
  background: white;
}

.columns {
  /* border: solid red 2px; */
  display: flex;
  flex-direction: row;
}

.column1 {
  /* border: solid purple 2px; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.column2 {
  /* border: solid orange 2px; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.recImage {
  margin: 25px;
  height: 400px;
  border: solid #D24951 2px;
  display: flex;
}

.rec-img {
  flex-shrink: 1;
  max-width: 100%;
  max-height: 100%;
}

.recDetails {
  margin: 25px;
  /* border: solid pink 2px; */
}

.menu-item {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  font-weight: bold;
  color: #557fa8;
}

.booleans {
  margin: 0;
}

.RecMap {
  margin: 25px;
}

.recContact {
  margin: 25px;
  /* border: solid black 2px; */
}

.contact {
  margin: 0;
}

.recSite {
  color: #D24951;
}

.get-directions {
  margin: 25px;
  align-self: center;
}

.directions-button {
  padding: 15px 25px 15px 25px;
  background: #D24951;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  /* align-self: center; */
}